table{
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    display: table;
    border-spacing: 10px;
    width: 500px;
    table-layout: fixed;
}
th{
    background-color: darkgrey;
}
td{
    background-color: salmon;
}
